<mat-grid-list cols="12" rowHeight="70px" style="background-color: black; padding-bottom: 5px;">
    <mat-grid-tile [colspan]="2"></mat-grid-tile>
    
    <mat-grid-tile [colspan]="8">
        <input [(ngModel)]="keywords" type="text" placeholder="Ex: Angular development" aria-label="Ex: Angular development" style="border-radius: 4px 4px 4px 4px; height: 32px; width: 100%; font-size: 15px; font-family: inherit;">
    
            <button mat-button id="searchButton" [disabled]="keywords.length < 2" (click)="getBooksCatalog()" style="background-color: #F3A847; border-radius: 4px 4px 4px 4px; margin-left: 5px;">
                <span class="material-icons">
                    search
                </span>
            </button>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="2"></mat-grid-tile>
</mat-grid-list>

<router-outlet></router-outlet>