<div [hidden]="!showSpinner">
    <mat-spinner style="position: absolute; margin: 25% 50% 25% 50%"></mat-spinner>
</div>

<div [hidden]="showSpinner">
    <div style="background-color: #424242; height: 60px; padding: 10px 10px 0px 10px;">
        <input [(ngModel)]="keywords" type="text" placeholder="Ex: Angular development" aria-label="Ex: Angular development" (keyup.enter)="getBooksCatalog()" style="border-radius: 4px 4px 4px 4px; height: 25px; width: 90%; ">
        
        <button style="background-color: yellow; border-radius: 4px 4px 4px 4px; margin-left: 5px;" (click)="getBooksCatalog()">
            <span class="material-icons" (click)="getBooksCatalog()">
                search
            </span>
        </button>
    </div>

    <div style="margin: 10px 10px 10px 10px" [hidden]="showNoResultsMessage">
        <mat-grid-list cols="12" rowHeight="100px">
            <mat-grid-tile
                *ngFor="let book of booksCatalogSearchResult"
                [colspan]="colSpan"
                [rowspan]="rowSpan"
                [style.background]="color">
    
                <a href="{{ book.infoLink }}" target="blank">
                    <img src="{{ book.thumbnail != null ? book.thumbnail : noImageAvailablePicturePath }}" style="width: 160px;">
    
                    <mat-grid-tile-footer style="background-color: white; color: black;">
                        <div style="margin-top: 20px;">
                            <h4 style="text-align: center;">{{ book.title.length <= 60 ? book.title : book.title.substring(0, 59) + "..." }}</h4>
                        </div>
                    </mat-grid-tile-footer>
                </a>
            </mat-grid-tile>
        </mat-grid-list>   
    </div>

    <div [hidden]="!showNoResultsMessage" style="height: 100px; text-align: center; margin: 20% 0px 19% 0px;">
        <h2>No results were found</h2>
    </div>
    
    <div style="margin-top: 10px;">
        <mat-paginator [length]="totalResults"
                    [pageSize]="pageSize"
                    [pageSizeOptions]="pageSizeOptions"
                    (page)="pageEvent = pageBooksCatalog($event)">
        </mat-paginator>
    </div>
</div>