<div [hidden]="!showSpinner">
    <mat-spinner style="position: absolute; margin: 23% 45%"></mat-spinner>
</div>

<div [hidden]="showSpinner">
    <mat-grid-list cols="12" rowHeight="70" style="background-color: #424242; padding-bottom: 5px;">
        <mat-grid-tile [colspan]="2"></mat-grid-tile>
        
        <mat-grid-tile [colspan]="8">
            <input [(ngModel)]="keywords" type="text" placeholder="Ex: Angular development" aria-label="Ex: Angular development" (keyup.enter)="getBooksCatalog()" style="border-radius: 4px 4px 4px 4px; height: 30px; width: 100%;">
        
            <button mat-button id="searchButton" [disabled]="keywords.length < 2" (click)="getBooksCatalog()" style="background-color: #F3A847; border-radius: 4px 4px 4px 4px; margin-left: 5px;">
                <span class="material-icons">
                    search
                </span>
            </button>
        </mat-grid-tile>
    </mat-grid-list>

    <div style="margin: 10px 30px 30px 30px" [hidden]="showNoResultsMessage">
        <mat-grid-list cols="12" rowHeight="100px">
            <mat-grid-tile
                *ngFor="let book of booksCatalogSearchResult"
                [colspan]="colSpan"
                [rowspan]="rowSpan"
                [style.background]="color">
    
                <a href="{{ book.infoLink }}" target="blank">
                    <img src="{{ book.thumbnail != null ? book.thumbnail : noImageAvailablePicturePath }}" style="width: 160px;">
    
                    <mat-grid-tile-footer style="background-color: white; color: black;">
                        <div style="margin-top: 20px;">
                            <h4 style="text-align: center;">{{ book.title.length <= 60 ? book.title : book.title.substring(0, 59) + "..." }}</h4>
                        </div>
                    </mat-grid-tile-footer>
                </a>
            </mat-grid-tile>
        </mat-grid-list>   
    </div>

    <div [hidden]="!showNoResultsMessage" style="text-align: center; margin: 21% 0px 21% 0px;">
        <h2>No results were found</h2>
    </div>
    
    <div style="margin-top: 10px;">
        <mat-paginator [length]="totalResults"
                    [pageSize]="pageSize"
                    [pageSizeOptions]="pageSizeOptions"
                    (page)="pageEvent = pageBooksCatalog($event)">
        </mat-paginator>
    </div>
</div>