<form [formGroup]="bookForm">
    <h1 style="text-align: center; padding-top: 50px;">{{ bookForm.value.title }}</h1>
    
    <div style="text-align: center;">
       {{ authorsText }}

        <p>From {{ bookForm.value.publisher }}</p>
    </div>

    <div class="container" fxLayout fxLayout.xs="column" fxLayoutGap="50px" style="margin: 50px 50px 50px 50px">
        <div class="item item-1">
            <img src="{{ bookForm.value.thumbnail != null ? bookForm.value.thumbnail : noImageAvailablePicturePath }}">
        </div>
        
        <div class="item item-2" [innerHTML]="bookForm.value.description"></div>
    </div>
</form>