<form [formGroup]="bookForm">
    <h1 style="text-align: center;">{{ bookForm.value.title }}</h1>

    <mat-grid-list cols="5" [rowHeight]="">
        <mat-grid-tile [rowspan]="1" [colspan]="1">
            <img src="{{ bookForm.value.thumbnail != null ? bookForm.value.thumbnail : noImageAvailablePicturePath }}">
        </mat-grid-tile>

        <mat-grid-tile [rowspan]="2" [colspan]="4">
            <div [innerHTML]="bookForm.value.description"></div>
        </mat-grid-tile>
    </mat-grid-list>
</form>